<div class="position-relative">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 mt-5">
                <form [formGroup]="form" (ngSubmit)="resetPassword()">
                    <div class="card">
                        <div class="card-head pt-3 px-3">
                            <h5 class="mx-3">{{ 'reset_password' | translate }}</h5>
                        </div>
                        <hr/>
                        <div class="card-body p-5 pt-0 pb-0">
                            <div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="passwordInput">{{ 'new_password' | translate }}</label>
                                    <input type="text" formControlName="password" id="passwordInput" class="form-control form-control" />
                                    <div class="row text-danger mx-1" *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
                                        <span>
                                            {{ (form.controls['password'].value.length == 0 ? 'password_required' : 'minimum_characters') | translate }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button (click)="resetPassword()" [disabled]="!form.valid" class="btn btn-warning mx-3 float-end" type="submit">{{ 'edit' | translate }}</button>
                            <button (click)="cancelResetPassword()" type="button" class="btn btn-secondary float-end">{{ 'cancel' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
