<!--<div id="page-container" class="sidebar-dark" [class]="authService.isLoggedIn ? currentLanguage == 'ar' ? 'sidebar-o sidebar-dark enable-page-overlay sidebar-r side-scroll page-header-fixed main-content-narrow rtl-support side-trans-enabled' : 'sidebar-o enable-page-overlay side-scroll page-header-fixed main-content-narrow' : ''">-->
<div id="page-container" class="sidebar-dark" [class]="authService.isLoggedIn ? 'sidebar-o sidebar-dark enable-page-overlay sidebar-r side-scroll page-header-fixed main-content-narrow' : ''">
  <!-- Header -->
  <header id="page-header">
    <app-nav-bar></app-nav-bar>
  </header>
  <!-- END Header -->

  <!-- Main Container -->
  <main id="main-container">
    <!-- Page Content -->
    <div class="content content-full content-boxed">
      <router-outlet></router-outlet>
    </div>
    <!-- END Page Content -->
  </main>
  <!-- END Main Container -->

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- END Footer -->
</div>
