<div class="block block-rounded" [dir]="isRtl ? 'rtl' : 'ltr'" [class.text-end]="isRtl">
  <div class="block-header block-header-default">
    <h3 class="block-title">{{ 'information' | translate }}</h3>
  </div>
  <div class="block-content">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="mb-4">
            <div class="row mb-2">
              <div class="col">
                <label class="form-label" for="_name"><span>{{ 'name' | translate }}</span> <span class="text-danger"> *</span></label>
                <input type="text" class="form-control" id="_name" formControlName="name" autocomplete="off">
                <div class="row mt-1">
                  <span *ngIf="form.get('name')?.touched && !form.get('name')?.value" class="text-danger">
                    {{ 'information_required' | translate }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <button
              type="button"
              class="btn btn-secondary me-2"
              routerLink="/categories"
            >
              <fa-icon icon="circle-left" class="me-1 mx-1"></fa-icon>
              <span>{{ 'back' | translate }}</span>
            </button>
            <button
              type="submit"
              class="btn me-2"
              [class]="category.id ? 'btn-warning' : 'btn-primary'"
              [disabled]="!form.valid"
            >
              <fa-icon icon="edit" class="me-1 mx-1"></fa-icon>
              {{ (category.id ? 'edit' : 'submit') | translate }}
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
