<div class="block block-rounded m-0" [dir]="isRtl ? 'rtl' : 'ltr'">
  <div class="block-header block-header-default">
    <h3 class="block-title">{{ 'information' | translate }}</h3>
  </div>
  <div class="block-content">
    <div class="row justify-content-center">
      <div class="col">
        <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
          <div class="row mb-2">
            <div class="col">
              <label class="form-label"><span>{{ 'product' | translate }}</span> <span class="text-danger"> *</span></label>
              <div>
                <ng-select
                  formControlName="product"
                  [items]="products"
                  bindLabel="name"
                  bindValue="id"
                  [loading]="!isLoadingAllProducts"
                  (change)="onProductSelect($event)"
                ></ng-select>
              </div>
              <div class="row mt-1">
                <span *ngIf="productForm.get('product')?.touched && !productForm.get('product')?.value" class="text-danger">
                  {{ 'information_required' | translate }}
                </span>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label class="form-label" for="_price"><span>{{ 'price' | translate }}</span> <span class="text-danger"> *</span></label>
              <input type="number" class="form-control" id="_price" formControlName="price" min="1">
              <div class="row mt-1">
                <span *ngIf="productForm.get('price')?.touched && !productForm.get('price')?.value" class="text-danger">
                  {{ 'information_required' | translate }}
                </span>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <label class="form-label" for="_quantity"><span>{{ 'quantity' | translate }}</span> <span class="text-danger"> *</span></label>
              <input type="number" class="form-control" id="_quantity" formControlName="quantity" min="1">
              <div class="row mt-1">
                <span *ngIf="productForm.get('quantity')?.touched && !productForm.get('quantity')?.value" class="text-danger">
                  {{ 'information_required' | translate }}
                </span>
              </div>
            </div>
          </div>

          <div class="mb-4 mt-4">
            <button
              type="button"
              class="btn btn-secondary me-2"
              (click)="closeModal()"
            >
              <span>{{ 'cancel' | translate }}</span>
            </button>
            <button
              type="submit"
              class="btn me-2"
              [class]="data.productItem ? 'btn-warning' : 'btn-primary'"
              [disabled]="!productForm.valid"
            >
              <fa-icon icon="edit" class="me-1 mx-1"></fa-icon>
              {{ (data.productItem ? 'edit' : 'submit') | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
