<div class="text-center mt-5 mb-5" *ngIf="!isLoading">
  <div class="spinner-grow spinner-grow-sm text-success" role="status"></div>
  <span class="h6 text-success">{{ 'loading' | translate }}</span>
</div>

<div *ngIf="isLoading">
  <!-- Quick Overview -->
  <div class="row d-flex justify-content-end">
    <!--<div class="col-6 col-lg-3">
      <a class="block block-rounded block-link-shadow text-center link" style="cursor: pointer" (click)="printPdf()">
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-info">
            <fa-icon icon="print"></fa-icon>
          </div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-info mb-0">
            <span>{{ 'print' | translate }}</span>
          </p>
        </div>
      </a>
    </div> -->
    <div class="col-6 col-lg-3">
      <a class="block block-rounded block-link-shadow text-center link text-decoration-none">
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-info">
            <fa-icon icon="boxes"></fa-icon>
          </div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-dark mb-0">
            {{ pagination.totalItems }} {{ 'route.invoices' | translate }}
          </p>
        </div>
      </a>
    </div>
    <div class="col-6 col-lg-3">
      <a class="block block-rounded block-link-shadow text-center link" routerLink="/invoices/add">
        <div class="block-content block-content-full">
          <div class="fs-2 fw-semibold text-primary">
            <fa-icon icon="plus"></fa-icon>
          </div>
        </div>
        <div class="block-content py-2 bg-body-light">
          <p class="fw-medium fs-sm text-primary mb-0">
            {{ 'add' | translate }}
          </p>
        </div>
      </a>
    </div>
  </div>
  <!-- END Quick Overview -->


  <!-- All Invoices -->
  <div class="block block-rounded">
    <div class="block-header block-header-default d-flex justify-content-between">
    </div>
    <div class="block-content">
      <!-- All Invoices Table -->
      <table class="table table-sm table-hover table-striped">
        <thead>
          <tr>
            <th class="col">{{ 'code' | translate }}</th>
            <th class="col">{{ 'date' | translate }}</th>
            <th class="col">{{ 'customer' | translate }}</th>
            <th class="col">{{ 'status' | translate }}</th>
            <th class="col">{{ 'amount' | translate }}</th>
            <th class="col">{{ 'invoice.amount_paid' | translate }}</th>
            <th class="col">{{ 'invoice.remaining_amount' | translate }}</th>
            <th class="col"></th>
          </tr>
        </thead>
        <tbody>
          @if (invoices.length > 0) {
            <tr *ngFor="let invoice of invoices">
              <td>
                <span class="btn btn-link m-0 p-0" [routerLink]="'/invoices/details/' + invoice.id">
                  {{ capitalizeFirstLetter(invoice.code) }}
                </span>
              </td>
              <td>
                {{ invoice.date | date :'dd/MM/yyyy' }}
              </td>
              <td>
                {{ capitalizeFirstLetter(invoice.customer.name) }} <fa-icon icon="star" class="text-warning mx-1" *ngIf="invoice.customer.hasLoyaltyCard" />
              </td>
              <td>
                <span [class]="invoice.classStyle">
                  {{ ('invoice.status.' + invoice.status) | translate }}
                </span>
              </td>
              <td>
                <span [dir]="isRtl ? 'rtl' : 'ltr'">
                  @if (invoice.totalTTCAfterDiscount != invoice.totalTTC) {
                    {{ invoice.totalTTCAfterDiscount | number :'1.2-2' }} {{ 'dh' | translate }}
                  }
                  @else {
                    {{ invoice.totalTTC | number :'1.2-2' }} {{ 'dh' | translate }}
                  }
                </span>
              </td>
              <td [class]="invoice.totalPaymentPaid > 0 ? 'text-success' : ''">
                <span [dir]="isRtl ? 'rtl' : 'ltr'">
                  {{ invoice.totalPaymentPaid | number :'1.2-2' }} {{ 'dh' | translate }}
                </span>
              </td>
              <td [class]="invoice.totalPaymentRemaining > 0 ? 'text-danger' : ''">
                <span [dir]="isRtl ? 'rtl' : 'ltr'">
                  {{ invoice.totalPaymentRemaining | number :'1.2-2' }} {{ 'dh' | translate }}
                </span>
              </td>
              <td>
                <div class="d-flex justify-content-end">
                  <fa-icon
                    icon="circle-info" size="lg"
                    style="cursor: pointer" class="text-muted me-2"
                    (click)="openFile(invoice)"
                  ></fa-icon>
                  <fa-icon
                    icon="eye" size="lg"
                    style="cursor: pointer" class="text-info me-2"
                    [routerLink]="'/invoices/details/' + invoice.id"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="invoice.status == invoiceStatus.DRAFT"
                    icon="square-pen" size="xl"
                    style="cursor: pointer" class="text-warning me-2"
                    [routerLink]="'/invoices/edit/' + invoice.id"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="invoice.status == invoiceStatus.DRAFT"
                    icon="trash-alt" size="lg"
                    style="cursor: pointer" class="text-danger me-1"
                    (click)="confirmDeleteInvoice(invoice)"
                  ></fa-icon>
                </div>
              </td>
            </tr>
          } @else {
            <tr>
              <td colspan="6" class="text-center">{{ 'no_data_exists' | translate}}</td>
            </tr>
          }
        </tbody>
      </table>
      <!-- END All Invoices Table -->
    </div>

    <!-- Pagination -->
    <app-pagination *ngIf="invoices.length > 0" [pagination]="pagination" (reloadData)="reloadData($event)" />
  </div>
  <!-- END All Invoices -->
</div>
