<form>
    <div class="card-body p-5 pt-4 pb-0" [formGroup]="form" [dir]="isRtl ? 'rtl' : 'ltr'" [class.text-end]="isRtl">
        <div *ngIf="router.url == '/login'" class="form-outline mb-4">
            <div class="text-start">
                <label class="form-label" for="emailInput">{{ 'email' | translate }}</label>
                <input type="email" formControlName="email" id="emailInput" class="form-control form-control" />
                <div class="row text-danger mx-1" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
                    {{ (form.controls['email'].value.length == 0 ? 'Email is Required' : 'Invalid Email') | translate }}
                </div>
            </div>
        </div>
        <div *ngIf="router.url == '/profile'">
            <div class="form-outline mb-4">
                <label class="form-label" for="oldPasswordInput">{{ 'current_password' | translate }}</label>
                <input type="password" formControlName="oldPassword" id="oldPasswordInput" class="form-control form-control" />
                <div class="row text-danger mx-1" *ngIf="form.controls['oldPassword'].touched && form.controls['oldPassword'].invalid">
                  <span *ngIf="form.controls['oldPassword'].value.length == 0">
                    {{ 'current_password_required' | translate }}
                  </span>
                  <span *ngIf="form.controls['oldPassword'].value.length != 0">
                    {{ 'minimum_characters' | translate }}
                  </span>
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="newPasswordInput">{{ 'new_password' | translate }}</label>
                <input type="password" formControlName="newPassword" id="newPasswordInput" class="form-control form-control" />
                <div class="row text-danger mx-1" *ngIf="form.controls['newPassword'].touched && form.controls['newPassword'].invalid">
                  <span *ngIf="form.controls['newPassword'].value.length == 0">
                    {{ 'new_password_required' | translate }}
                  </span>
                  <span *ngIf="form.controls['newPassword'].value.length != 0">
                    {{ 'minimum_characters' | translate }}
                  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="closeDialog()" type="button" class="btn btn-secondary">
            {{ 'cancel' | translate }}
        </button>
        <button (click)="resetPassword()" [disabled]="!form.valid" class="btn btn-warning m-3">
            @if (router.url == '/login') {
                <fa-icon icon="paper-plane" class="me-1"></fa-icon>
                <span>{{ 'send' | translate }}</span>
            } @else if (router.url == '/profile') {
                <fa-icon icon="edit" class="me-1"></fa-icon>
                <span>{{ 'edit' | translate }}</span>
            }
        </button>
    </div>
</form>
